


.reading_container {
    display: grid; 
    grid-template-columns: 200px 120px; 
    grid-template-rows: 120px 80px; 
    gap: 0px 0px; 
    grid-template-areas: 
      "icon" "title"
      "icon" "reading";
}

.reading_container > div {
    background-color: rgb(173, 207, 184);
    border-color:rgb(37, 52, 53);
    border-width:5px;
}

.reading_container-icon_holder {
    grid-area: "icon";
    size: 120px 120px;
    padding:10px;
}

.reading_container-title_holder {
    grid-area: "icon";
    height:60px;
    width: 200px;
    padding:10px;
}