


.reading_container {
    display: grid; 
    grid-template-columns: 200px 120px 400px; 
    grid-template-rows: 120px 80px; 
    gap: 0px 0px; 
    grid-template-areas: 
      "icon" "title" "message"
      "icon" "subtitle" "message";
}

.reading_container > div {
    background-color: rgb(173, 207, 184);
}

.reading_container-icon_holder {
    grid-area: "icon";
    size: 120px 120px;
    padding:10px;
}

.reading_container-title_holder {
    font-family: "Arial";
    font-style:bold;
    font-size:40px;
    grid-area: "title";
    height:100px;
    width: 300px;
    padding:10px;
}

.reading_container-subtitle_holder {
    font-family: "Arial";
    font-style:bold;
    font-size:20px;
    grid-area: "subtitle";
    color:brown;
    height:60px;
    width: 300px;
    padding:10px;
}

.reading_container-message_holder {
    font-family: "Arial";
    font-style:bold;
    font-size:20px;
    grid-area: "message";
    height:200px;
    width: 400px;
    padding:10px;
}



.navbar_holder {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
    
.navbar_li {
float: left;
}

.navbar_li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar_li a:hover {
    background-color: #111;
}

  