{% extends "Base.html" %}

<head>
    <link rel="stylesheet" href="static/Homepage_CSS.css">
</head>

{% block content %}

<head>
    <link rel="stylesheet" href="static/Homepage_CSS.css">
</head>

<script lang="javaScript">
    function  RedirectbyArea(area_selected){
        console.log(area_selected.value,area_selected.value.replace(" ","%20"))
        window.document.location="/floodings/"+area_selected.value.replace(" ","%20");

    }
</script>

    
<p>Filter by Area:</p>
<select name="areas" id="areas" onchange="RedirectbyArea(this)">
    {%for area in locations_unique%}
    <option value={{area}}>{{area}}</option>
    {%endfor%}
</select>

{%for reading in readings%}
<div class="reading_container">
    <div class="reading_container-icon">{{reading.title}}</div>
    <div class="reading_container-title_holder">{{reading.title}}</div>
    <div class="reading_container-subtitle_holder">{{reading.subtitle}}</div>
    <div class="reading_container-message_holder">{{reading.message}}</div>
</div>
{%endfor%}

{% endblock content %}
